<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Доствка</title>
    <link rel="stylesheet" type="text/css" href="/header.css">
    <link rel="stylesheet" type="text/css" href="/buttons.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/foter.css">

</head>


<body>
<div>
    <header class="header">
        <section class="header_main">
            <img class="logo" src="/img/logo.jpeg"/>
            <nav class="header_nav">
                <a href="#">Сережа</a>
                <a href="#">Эдик</a>
                <a href="#">Антон</a>
                <a href="#">Дима</a>
            </nav>
            <button class="primary">Зарегистрироваться</button>
        </section>
        <section class="header_texts"></section>
        <h1 class="header_text-title"> Мы не обосремся  и  доставим в срок</h1>
<!--        <section>-->
<!--            <button class="header_bottons"> Заказать доствку</button>-->
<!--        </section>-->
    </header>
    <main class="main">
        <section class="main_feature">
            <h1 class="main_title">Доставка будущего</h1>
            <h5 class="main_sub_title">Боевые голуби</h5>


            <img src="/img/3.jpeg">


        </section>

    </main>
</div>
</body>
</html>