<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Доствка</title>

    <link rel="stylesheet" type="text/css" href="/header.css">
    <link rel="stylesheet" type="text/css" href="/buttons.css">
    <link rel="stylesheet" type="text/css" href="/foter.css">
    <link rel="stylesheet" type="text/css" href="/main.css">

</head>


<body>
<div>
    <header class="header">
        <section class="header_main">
            <img class="logo" src="/img/logo.jpeg"/>
            <nav class="header_nav">
                <a href="/"> Главная страница</a>
                <a href="sergei"> Голубь Сережа</a>
                <a href="edik"> Голубь Эдик</a>
                <a href="anton">Голубь Антон</a>
<!--                <a href="#">Голубь Дима</a>-->
            </nav>
            <button class="primary">Офомить заказ</button>
        </section>
        <section class="header_texts"></section>
        <h1 class="header_text-title"> Мы не обосремся  и  доставим в срок</h1>

    </header>
    <main class="main">
        <section class="main_feature">
            <h1 class="main_title">Доставка будущего</h1>
            <h5 class="main_sub_title">Боевые голуби</h5>
            <div class="main_Image">
                <img src="/img/3.jpeg" width="700">
                <ul>
                    <li>
                        <div>
                            <i class="fa-solid fa-check"></i>
                            <span>Превый вылет бессплатно</span>

                        </div>


                    </li>
                    <li>
                        <div>
                            <i class="fa-solid fa-truck-fast"></i>
                            <span>Вылетаем в течении 10 мин с момента заказа</span>

                        </div>

                    </li>
                    <li>
                        <div>
                            <i class="fa-solid fa-thumbs-up"></i>
                            <span>Ваш надежный голубь</span>

                        </div>
                    </li>
                </ul>

            </div>

        </section>

    </main>
    <footer class="footer">
        <div class="footer_links">
            <div class="links">
            <p class="link_title" style="color: #ece6e6" > Vadim Kharovyuk  1993-2024  © </p>
            </div>
        </div>
        <div class="footer_info"></div>

    </footer>

</div>
		 <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
</body>
</html>